<div class="user-register-form">
  <%= form_with(model: user, local: true) do |form| %>

    <%= render 'shared/error_message', model: form.object %>

    <div class="form">
      <div class="form-label">
        <%= form.label :name %>
      </div>
      <div>
        <%= form.text_field :name %>
      </div>
    </div>

    <div class="form">
      <div class="form-label">
        <%= form.label :email %>
      </div>
      <div>
        <%= form.text_field :email %>
      </div>
    </div>

    <div class="form">
      <div class="form-label">
        <%= form.label :avatar %>
      </div>
      <div>
        <%= form.file_field :avatar, id: :user_img %>
      </div>
    </div>

    <div class="user-avatar-preview">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.url, id: :img_prev, size: '100x100' %>
      <% else %>
        <%= image_tag "/sample-avatar.png", id: :img_prev, size: '100x100' %>
      <% end %>
    </div>

    <div class="form">
      <div class="form-label">
        <%= form.label :password %>
      </div>
      <div>
        <%= form.password_field :password %>
      </div>
    </div>

    <div class="form">
      <div class="form-label">
        <%= form.label :password_confirmation %>
      </div>
      <div>
        <%= form.password_field :password_confirmation %>
      </div>
    </div>

    <div class="form-btn">
      <%= form.submit('登録する', class: 'btn btn-warning btn-lg', style: 'border: 1px solid grey;') %>
    </div>
  <% end %>
</div>

