<header>

  <% if current_user %>
    <% if current_user.avatar %>
    
    <% end %>
  <% end %>

  <div class="app-name">
    <% if current_user %>
      <%= link_to 'NewLifinantial', mypage_path, class: 'modified-link' %>
    <% else %>
      <%= link_to 'NewLifinantial', root_path, class: 'modified-link' %>
    <% end %>
  </div>

  <div class="header-links">
    <%= link_to 'ユーザー登録', new_user_path, class: 'user-register-link modified-link'%>
    <% if current_user %>
      <%= link_to 'ログアウト', logout_path, method: :post, class: 'user-login-link modified-link'%>
    <% else %>
      <%= link_to 'ログイン', login_path, class: 'user-login-link modified-link'%>
    <% end %>
  </div>

</header>
