<div class="container">
  <div class="new-life-images">
    <div class="enroll-images">
      <div>
        <%= image_tag '/sakura.png', size: '25x25', style:"color:blue;" %>
      </div>
      <div>
        <%= image_tag '/male-student.png', size: '75x75' %>
      </div>
      <div>
        <%= image_tag '/school.png', size: '75x75' %>
      </div>
      <div>
        <%= image_tag '/female-student.png', size: '75x75' %>
      </div>
      <div>
        <%= image_tag '/sakura.png', size: '25x25' %>
      </div>
    </div>
    <div class="job-images">
      <div>
        <%= image_tag '/suitcase.png', size: '25x25' %>
      </div>
      <div>
        <%= image_tag '/workman.png', size: '75x75' %>
      </div>
      <div>
        <%= image_tag '/company.png', size: '75x75' %>
      </div>
      <div>
        <%= image_tag '/carrier-woman.png', size: '75x75' %>
      </div>
      <div>
        <%= image_tag '/suitcase.png', size: '25x25' %>
      </div>
    <div>
  </div>
</div>
</div>

  <div class="moving-images">
    <div>
      <%= image_tag '/house.png', size: '75x75' %>
    </div>
    <div class="truck-image">
      <%= image_tag '/truck.png', size: '75x75' %>
    </div>
    <div class="start-house">
      <%= image_tag '/house.png', size: '75x75' %>
    </div>
  </div>

  <div style="text-align: center; font-size:20px;margin-top:1%;">ご入学・ご就職・ご転勤からのお引っ越し</div>

  <div class="need-furniture">
    <div class="furniture-images">
      <div class="cart-image">
        <%= image_tag '/cart.png', size: '75x75' %>
      </div>
    </div>
    <div class="need-to-buy-message">
      新生活にむけて家具買わないと！‥でも
    </div>
  </div>

  <div class="worry-expend">
    <div class="worry-expend-message">
      出費、気になりませんか？
    </div>
    <div class="expend-image">
      <%= image_tag '/expense.png', size: '150x150' %>
    </div>
  </div>
  
  <div class="lets-start">
    <div class="lets-start-message">
      <div>NewLifinancialで新生活の家具を探すと</div>
      <div>財布に優しく新生活スタートをできます！</div>
    </div>
    <div class="fur-imgs-above-btn">
      <div class="fur-image">
        <%= image_tag '/sofa.png', size: '25x25' %>
      </div>
      <div class="fur-image">
        <%= image_tag '/refrigerator.png', size: '25x25' %>
      </div>
      <div class="fur-image">
        <%= image_tag '/oven.png', size: '25x25' %>
      </div>
      <div class="fur-image">
        <%= image_tag '/washing-machine.png', size: '25x25' %>
      </div>
      <div class="fur-image">
        <%= image_tag '/table.png', size: '25x25' %>
      </div>
    </div>
    <div class="lets-start-button">
      <div class="btn btn-warning btn-lg">ユーザー登録</div>
      <div class="btn btn-warning btn-lg">ログイン</div>
      <div class="btn btn-warning btn-lg">ゲストログイン</div>
    </div>
  </div>
</div>
