<%= form_with url: user_sessions_path, method: :post do |form| %>

  <div class="form">
    <div class="form-label">
      <%=  t User.human_attribute_name(:email)%>
    </div>
    <div>
      <%= form.text_field :email %>
    </div>
  </div>

  <div class="form">
    <div class="form-label">
      <%=  t User.human_attribute_name(:password)%>
    </div>
    <div>
      <%= password_field_tag :password %>
    </div>
  </div>


  <div class="actions" id="login-btn">
    <%= form.submit('ログインする', class: 'modified-link btn btn-warning btn-lg', style: 'border: 1px solid grey;') %>
  </div>
<% end %>
